body {
    background-color: rgb(255, 255, 255);
    font-family: "ubuntu";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carter One";
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    color: #C85C8E;
    text-align: right;
}

h2{ 
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
}

p{
    color: #1A120B;
    padding: 0px 40px 0px 40px;
}


#title{
    background-color: #E8DED7;
}


.container-fluid{
    padding: 3% 15% 100px;
}


/* navbar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Righteous";
    font-size: 2.5rem;
    font-weight: bold;
    color:#C85C8E;
}

.navbar-brand:hover{
    color: #141E61;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #C85C8E;
}

.nav-link:hover{
    color: #141E61;
}

.dropdown-menu{
    background-color: #ffffff;
}

.dropdown-item{
    background-color: #787A91;
    width: 100%;
}

/* title */




/* side Bar */
.side-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #C85C8E;
}



/* media qwery Phone*/

@media (max-width:1000px) {
    .title-img{
        position: static;
        /* transform: rotate(0deg); */
        padding-top: 33px;
    }

    .title-button{
        background-color: #141E61;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #EEEEEE;
        width: 180px;}


    #title{
        text-align: center;
    }

    h1{
        text-align: center;
    }

    .title-img {
        text-align: center;
        width: 50%;
        position: relative;
    }

    .card-body{
        width: 100%;
        height: 100%; 
        background-color: #787A91;
    }
}

/* Media qwery PC*/
@media (min-width:1000px) {
    .title-button{
        background-color: #141E61;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #EEEEEE;
        width: 180px;
        margin-left: 335px;}
    
    .title-button:hover{
        background-color: #787A91;
        color:#C85C8E;
    }

    .title-img {
        margin-right: 200px;
        width: 21%;
        position: absolute;
        z-index: 1;
    }

    .card-body{
        margin-left:200px;
        margin-right: 200px;
        width:fit-content;
        height: 100%; 
        background-color: #787A91;
    }
    
}


.action-button{
    margin: 0% 1%;
    border-radius: 7px;
}

/* footer */

#footer{
    text-align: center;
    background-color: #E8DED7;
    padding: 100px 0px 10px;
}

.footer-icon-margin{ 
    font-size: 25px;
    margin: 10px;
    color: #141E61;
}

.footer-icon-margin:hover{
  color:#787A91;
}


/* Features */
#features{
    padding: 7% 15%;
    background-color: #787A91;
    position: relative;
}

.features-heading{
    text-align: center;
    color: #141E61;
}

.text{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight:400;
    color: #141E61;
}

.icon-section{
    margin: 30px 50px 30px 50px;
}

.icons
{
    color:#141E61;
    font-size: 25px; 
}

.icons:hover{
    color: #6aa2a5;
}





/* About us */
#about-us{
    padding:50px 70px;
    text-align: center;
    background-color: #141E61;
}


.about-button{
    background-color: #C85C8E;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #EEEEEE;
    width: 180px;
}

.about-button:hover{
    background-color: #787A91;
    color:#141E61 ;
}

mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
