body{
    width:auto;
}

/* navbar */
.navbar-brand{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 40px;
}

/* FEATURES */




/* ROUTINES */
.line-red-routines{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    color: #f0a500;
    line-height: 5rem;
}

.left{
    float: left;
    width: 700px;
}

.middle{
    float: left;
    width: 150px;
}

.right{
    text-align: left;
}

.routines-head{
    font-family: 'Anton';
    font-weight: 100;
    font-size: 25px;
    color: #f0a500;
    text-align: left;
}

.right-para{
    color: #fff;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
}

.left-para{
    color: #fff;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: left;
}



/* FOR PC */

@media (min-width:1028px) {
    .line-red{
        font-family: 'Anton', sans-serif;
        font-size: 100px;
        color: #f0a500;
        line-height: 5rem;  
    }
    
    .line-white{
        font-family: 'Anton', sans-serif;
        font-size: 100px;
        color: #fff;
        line-height: 5rem;
    }

    .feature-buttons-div{
        background-color:#f0a500;
        width: 100%;
        height: 100px;
        padding: 0% 20%;
        text-align: center;
        margin-right: ;
    }

    #features{
        background-color: #f0a500;
        width: 100%;
        padding: 100px 0px 10px;
    }

    .line-white-features{
        font-family: 'Anton', sans-serif;
        font-size: 80px;
        color: #fff;
        line-height: 5rem;
        text-align: center;
    }

    .para{
        color: #fff;
        font-family: 'Sofia Sans Condensed', sans-serif;
        font-size: 22px;
        text-align: center;
        margin: 2% 30% 3%;
    }

    .feature-buttons{
        background-color: #000;
        color: #fff;
        font-family: 'Anton';
        font-size: 20px;
        width: 20%;
        padding: 10px;
        margin-left: 30px;
    
    }
}

/* For PHONE */

@media (max-width:1028px) {
    .line-red{
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        color: #f0a500;
        line-height: 1rem;
    }
    
    .line-white{
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        color: #fff;
        line-height: 1rem;
    }

    .feature-buttons-div{
        background-color:#f0a500;
        width: 300px;
        height: 200px;
        padding: 0% 20%;
        text-align: center;
        margin-left: 20px;
    }

    #features{
        background-color: #f0a500;
        width:100%;
        height: 1000px;
        padding: 100px 0px 10px;
        text-align: center;
    }

    .line-white-features{
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        color: #fff;
        line-height: 2.5rem;
        text-align: center;
    }

    .para{
        color: #fff;
        font-family: 'Sofia Sans Condensed', sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 2% 30% 3%;
    }

    .feature-buttons{
        background-color: #000;
        color: #fff;
        font-family: 'Anton';
        font-size: 20px;
        width: 200px;
        padding: 10px;
        margin-left: 30px;
        margin-bottom: 50px;
    
    }
}
